DATABASE_URL="postgresql://postgres:postgres@localhost:5432/giaodien_db?schema=public"
NODE_ENV="development"

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""

EMAIL_SERVER_HOST="smtp.gmail.com"
EMAIL_SERVER_PORT="587"
EMAIL_SERVER_USER=""
EMAIL_SERVER_PASSWORD=""
EMAIL_FROM=""

GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

# SePay Payment Integration
NEXT_PUBLIC_BANK_NAME="ACB"
NEXT_PUBLIC_BANK_ACCOUNT=""
NEXT_PUBLIC_BANK_HOLDER_NAME=""
SEPAY_MERCHANT_ID=""
SEPAY_API_KEY=""